@{
    ViewData["Title"] = "Стартовая страница приложения";
}

<div class="text-center">
    <h1 class="display-4">Лучшие строители!</h1>
    
</div>
<div class="text-center">
    <img src="/files/5.jpg" class="img-fluid" alt="...">
</div> 